{% extends 'base.html' %}

{% block content %}

<style>


body{

    background:#FFB6C1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


/* CONTENEDOR */

.register-wrap{

    max-width:620px;
    margin:40px auto;
    padding:20px;

}



/* TARJETA */

.register-panel{

    background:white;

    padding:35px;

    border-radius:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}




/* TITULO */

.register-title{

    color:#d94d73;

    font-size:32px;

    font-weight:700;

    margin-bottom:25px;

}



/* GRID DOS COLUMNAS */

.form-grid{


    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;


}



/* CAMPOS */

.campo{

    width:100%;

}



.campo label{


    display:block;

    font-weight:600;

    color:#444;

    margin-bottom:6px;


}



/* INPUTS */

.campo input,
.campo select{


    width:100%;

    height:40px;

    padding:8px 12px;

    box-sizing:border-box;

    border-radius:10px;

    border:1px solid #ddd;

    font-size:14px;


}



.campo input:focus,
.campo select:focus{


    outline:none;

    border-color:#FF80A2;


}



/* BOTON */

.btn-pink{


    width:100%;

    height:42px;

    margin-top:25px;

    background:#FF80A2;

    border:none;

    color:white;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;


}



.btn-pink:hover{


    background:#ef6f92;


}



a{

    color:#9b3db7;

}




/* PARA CELULAR */

@media(max-width:600px){


.form-grid{

    grid-template-columns:1fr;

}


}



</style>



<div class="register-wrap">


<div class="register-panel">



<h1 class="register-title text-center">

Crear cuenta

</h1>



<form method="POST" action="{% url 'register' %}">


{% csrf_token %}




{% if form.errors %}

<div class="alert alert-danger">

Revise los datos ingresados.

</div>

{% endif %}




<div class="form-grid">



{% for field in form %}



<div class="campo">


<label>

{{ field.label }}

</label>



{{ field.as_widget }}




{% for error in field.errors %}

<div class="text-danger small">

{{error}}

</div>

{% endfor %}



</div>



{% endfor %}



</div>





<button type="submit" class="btn-pink">

Registrar

</button>




</form>





<div class="text-center mt-4">


<span>

Ya tienes cuenta?

</span>


<a href="{% url 'login' %}">

Iniciar sesión

</a>


</div>



</div>


</div>



{% endblock %}